p,
h3 {
  margin: 10px;
}

.MainContainer {
  text-align: center;
  overflow: hidden;
  width: 40vw;
  height: 80vh;
}

.MainHeading {
  width: fit-content;
  margin: 0px auto 30px auto;
  padding: 10px;
  font-weight: 500;
  color: #324d67;
  font-size: 3em;
  position: relative;
}
.MainHeading::after {
  position: absolute;
  content: " ";
  background-color: #ba5d2c;
  width: 60%;
  left: 20%;
  height: 4px;
  bottom: 0px;
}

/* End of the Headier Part ::: startirng the Slider ::  */

.SectionCenter {
  position: relative;
}

.Content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.ArrowsContainer {
  flex: 1;
  display: flex;
  align-items: center;
}
.ArrowsContainer button {
  background-color: #617d98;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  color: #fff;
  border: none;
  font-size: 1.5em;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.ArrowsContainer button:hover {
  background-color: #ba5d2c;
}
.Info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 4px #bcccdc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.Info .Name {
  color: #ba5d2c;
  font-weight: 600;
  margin: 0px;
}

.Title {
  color: #324d67;
}
.Quote {
  color: #617d98;
}
.Info svg {
  color: #ba5d2c;
  font-size: 3em;
  margin-top: 1em;
}

/* Slider Slides Classes ::  */
.Active {
  transform: translateX(0%);  
  opacity: 1;
}
.LastSlide {
  transform: translateX(-120%);
  opacity: 0;
}
.NextSlide {
  transform: translateX(120%);
  opacity: 0;
}
/* End of the Slides Classes . */
@media only screen and (max-width: 1129px) {
  .MainContainer {
    width: 60vw;
  }
}
@media only screen and (max-width: 821px) {
  .MainContainer {
    width: 90vw;
  }
}
@media only screen and (max-width: 400px) {
  .MainContainer {
    height : 105vh ;
  }
}
